* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login-register {
  #register-button {
    margin: auto;
    margin-top: 2em;
    color: white;
    display: block;
    background-color: rgb(20, 213, 104);
    width: 12em;
    height: 4em;
    line-height: 4em;
    border: none;
    border-radius: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    &:hover {
      color: white;
    }
  }

  #login-submit-button {
    margin: auto;
    margin-top: 2em;
    color: white;
    display: block;
    background-color: rgb(20, 213, 104);
    width: 12em;
    height: 4em;
    border: none;
    border-radius: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  label, input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 1.5em;
    height: 2.5em;
    width: 97%;
  }

  #new-here {
    margin-top: 40px;
    text-align: center;
  }
  .custom-shape-divider-bottom-1636512691 {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
  }

  .custom-shape-divider-bottom-1636512691 svg {
    position: relative;
    display: block;
    width: calc(179% + 1.3px);
    height: 117px;
    z-index: -1;
  }

  .custom-shape-divider-bottom-1636512691 .shape-fill {
    fill: #3ACA52;
  }
}
.footer1 {
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
#fpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav1 {
  // margin: auto;
  //   margin-top: 2em;
    color: white;
    // display: block;
    margin-left: 2em;
    background-color: rgba(186, 219, 200, 0.3);
    width: 12em;
    height: 4em;
    // line-height: 4em;
    border: none;
    border-radius: 2em;
    text-transform: uppercase;
    // font-weight: bold;
    text-decoration: none;
    text-align: center;

}

#new-here{

  position: relative;
  // display: inline;
  top: 5.4em;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}