* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  label, input{
    margin-top: 0.05em;
    margin-bottom: 0.05em;
    border-radius: 1.5em;
    height: 2em;
    min-width: 75%;
    max-width: 75%;
  }

  .register-buttons {
    margin: auto;
    margin-top: 2em;
    color: white;
    display: block;
    background-color: rgb(20, 213, 104);
    width: 12em;
    height: 4em;
    line-height: 4em;
    border: none;
    border-radius: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }

  #already-have-account {
    padding-top: 20px;
    text-align: center;
  }

.custom-shape-divider-bottom-1636512691 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-bottom-1636512691 svg {
  position: relative;
  display: block;
  width: calc(179% + 1.3px);
  height: 117px;
  z-index: -1;
}

.custom-shape-divider-bottom-1636512691 .shape-fill {
  fill: #3ACA52;
}
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#nav {
  // margin: auto;
  //   margin-top: 2em;
    color: white;
    // display: block;
    margin-left: 2em;
    background-color: rgba(186, 219, 200, 0.3);
    width: 12em;
    height: 4em;
    // line-height: 4em;
    border: none;
    border-radius: 2em;
    text-transform: uppercase;
    // font-weight: bold;
    text-decoration: none;
    text-align: center;

}

  #already-have-account{

  position: relative;
  // display: inline;
  top: 5.4em;
}
// #nav {
//   width: 12em;
//   z-index: 1;
// }
.wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 106px;
  z-index: -1;
}

.wave .shape-fill {
  fill: #3ACA52;
}

// #fPage {
//   height: 100vh;
// }