.main-page-button {
  margin-top: 40px;
  margin: auto;
  margin-top: 2em;
  color: white;
  display: block;
  background-color: rgb(20, 213, 104);
  width: 12em;
  height: 4em;
  border: none;
  border-radius: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 20px;
  position: absolute;
  top: 2%;
  left: 1%;
  z-index: 1;
}

#main-page-buttons {
  padding-top: 220px;
  height: 100%;
  width: 100%;
}