.route_form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

label, input{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input {
  width: 50%;
}

#driver-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.cancel {
  color: red;
  font-weight: bold;
}

.cancel:hover {
  cursor: pointer;
}

#routes-list {
  overflow: auto;
  height: 200px;
}

#routes-list-wrapper {
  width: 50vh;
  margin-bottom: 30px;
}

#routes-list-intro {
  margin-bottom: 20px;
  font-weight: bold;
}

#list-headers {
  word-spacing: 4rem;
  font-weight: bold;
  width: 500px;
  color: blue;
  margin-left: 30px;
}

.list-item {
  /* word-spacing: 1rem; */
  /* /* width: 500px; */
  display: flex;
  flex-direction: row;
  align-content: space-between;
}