.route_form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

label, input{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input {
  width: 50%;
}

#driver-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.cancel {
  color: red;
  font-weight: bold;
  margin-right: -10px;
}

.cancel:hover {
  cursor: pointer;
}

#routes-list {
  overflow: auto;
  height: 200px;
  width: 55vh;
}

#routes-list-wrapper {
  width: 50vh;
  margin-bottom: 30px;
}

#routes-list-intro {
  margin-bottom: 20px;
  font-weight: bold;
}

#list-headers {
  font-weight: bold;
  width: 55vh;
  margin-left: 30px;
}

#end {
  margin-left: 65px;
}

#departure {
  margin-left: 50px;
}

#seats {
  margin-left: 15px;
}

#list-headers span {
  padding-left: 10px;
  padding-right: 10px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

#routes-table td {
  padding-left: 24px;
  overflow-wrap: anywhere;
  width: 20vh;
}

#make-new-route {
  width: 100px;
}