.route_form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

label, input{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input {
  width: 50%;
}

#driver-wrapper {
  display: flex;
  flex-direction: column;
}