#notification {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  border-radius: 1em;
  padding: 10px;
  opacity: 0.99;
  box-shadow: 2px 2px rgb(199, 199, 199);

  h2 {
    text-align: center;
  }

  div {
    margin-top: 1em;
  }

  button {
    margin: auto;
    margin-top: 2em;
    color: white;
    display: block;
    background-color: rgb(20, 213, 104);
    width: 12em;
    height: 4em;
    border: none;
    border-radius: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }
}

